:root {
   /* =========================
     Colors
  ========================= */

   --color-primary: #0065A8;
   --color-primary-light: #0096FA;
   --color-primary-dark: #003457;

   --color-secondary: #00a862;
   --color-secondary-light: #00fa92;
   --color-secondary-dark: #00572e;

   --color-tertiary: #a83500;
   --color-tertiary-light: #fa4f00;
   --color-tertiary-dark: #571c00;
   
   --color-danger: #a83500;
   
   --color-background-rgba: rgba(0, 0, 0, 0.75);

   --color-white: #ffffff;
   --color-black: #000000;
   --color-gray: #888888;

   --color-text: #1a1a1a;
   --color-text-light: #535353;

   --color-link: #0065A8;

   --color-yellow: #f3dc08;
   --color-blue: #0852f3;

   --color-react: #58C4DC;
   --color-js: #cfb822;
   --color-html: #E44D26;
   --color-css: #204CE6;
   --color-git: #F05033;
   --color-sql: #2a5575;
   --color-rest_api: #85a6ce;
   --color-ms365: #D03902;

   --color-shadow-react: #58c4dc9f;
   --color-shadow-js: #cfb8229f;
   --color-shadow-html: #E44D269f;
   --color-shadow-css: #204CE69f;
   --color-shadow-git: #F050339f;
   --color-shadow-sql: #2a55759f;
   --color-shadow-rest_api: #85a6ce9f;
   --color-shadow-ms365: #d039029f;

   --color-linkedin: #0077B5;
   --color-github: #2A2B2F;
   --color-whatsapp: #25D366;
   --color-email: #FC413D;
   --color-instgram: #C53391;
   --color-snapchat: #FFFC00;

   --color-background: #ffffff;
   --color-background-secondary: #fafafa;
   --color-background-tertiary: #ececec;

   --pattern-background-color: #fafafa;
   --pattern-background-image:
      radial-gradient(#00a862 0.1px, transparent 0.9px),
      radial-gradient(#00a862 0.1px, #fafafa 0.3px);
   --pattern-background-size: 24px 24px;
   --pattern-background-position: 0 0, 2px 2px;

   --color-border: #cccccc;


   /* =========================
     Font Sizes
  ========================= */

   --size-xs: 0.75rem;
   --size-sm: 0.875rem;
   --size-md: 1rem;
   --size-ml: 1.125rem;
   --size-lg: 1.25rem;
   --size-xl: 1.5rem;
   --size-2xl: 2rem;
   --size-3xl: 2.5rem;
   --size-4xl: 3rem;


   /* =========================
     Spacing
  ========================= */

   --space-xs: 0.25rem;
   --space-sm: 0.5rem;
   --space-md: 1rem;
   --space-lg: 1.5rem;
   --space-xl: 2rem;
   --space-2xl: 3rem;
   --space-3xl: 4rem;
   --space-4xl: 5rem;


   /* =========================
     Border Radius
  ========================= */

   --radius-sm: 0.25rem;
   --radius-md: 0.5rem;
   --radius-lg: 1rem;
   --radius-xl: 1.5rem;
   --radius-full: 999px;



   /* =========================
     Shadows
  ========================= */

   --shadow-sm: 0 2px 5px rgb(0 0 0 / 10%);
   --shadow-md: 0 4px 10px rgb(0 0 0 / 15%);
   --shadow-lg: 0 10px 30px rgb(0 0 0 / 15%);


   /* =========================
     Layout
  ========================= */

   --container-width: 1200px;
   --header-height: 70px;


   /* =========================
     Transition
  ========================= */

   --transition-fast: 0.2s ease;
   --transition-normal: 0.3s ease;
}


/* =========================
   Dark Theme
========================= */

[data-theme="dark"] {
   --color-background: #2a2a2a;
   --color-background-secondary: #202020;
   --color-background-tertiary: #1d1d1d;
   --color-background-breadcrumb: #0096fab9;

   --pattern-background-color: #2a2a2a;
   --pattern-background-image:
      radial-gradient(#00a862 0.1px, transparent 0.9px),
      radial-gradient(#00a862 0.1px, #2a2a2a 0.3px);
   --pattern-background-size: 24px 24px;
   --pattern-background-position: 0 0, 2px 2px;

   --color-text-light: #919191;
   --color-primary: #0096FA;
   --color-primary-dark: #0065A8;
   --color-tertiary: #fa4f00;
   --color-tertiary-dark: #a83500;
   --color-secondary: #00fa92;
   --color-secondary-dark: #00a862;

   --color-text: #ffffff;
   --color-text-light: #aaaaaa;

   --color-link: #0099ff;

   --color-border: #555555;
}